@import '_global';
@import '_header';
@import '_about';
@import '_donation';
@import '_help';
@import '_pets';
@import '_footer';

*{
    padding:0; margin:0;
}

html {
    box-sizing: border-box;
    font-size: 15px;    
}

*, *:before, *:after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, 
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: inherit;
}

.body {
    font-family: 'Georgia', sans-serif;
    font-size: .933rem;
    color: white;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2.666rem;
}

.h1 {
    font-family: 'Georgia', sans-serif;
    font-size: 2.93rem;
    line-height: 130%;
    font-weight: normal;
}

.h2 {
    font-family: 'Georgia', sans-serif;
    font-size: 2.333rem;
    line-height: 130%;
    color: $color-dark-l;
    font-weight: normal;
}

.text {
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
    line-height: 160%;
}

.btn-ptimary {
    color: $color-dark-3xl;
    padding: 1rem 3.5rem;
    font-family: 'Georgia';
    font-size: 1.1rem;
    line-height: 130%;
    background-color: $color-primary;
    border-radius: 6.66rem;
}

.btn-secondary {
    color: $color-dark-3xl;
    font-family: 'Georgia';
    font-size: 1.113rem;
    line-height: 130%;
    letter-spacing: 0.06em;
    border: 1.333rem solid $color-primary;
    border-radius: .666rem;
}   