@import '_global';
@import '_header';
@import '_about';
@import '_donation';
@import '_help';
@import '_pets';
@import '_footer';

*{
    padding:0; margin:0;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, 
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: inherit;
}

.body {
    font-family: 'Georgia', sans-serif;
    font-size: 14px;
    color: white;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
}