<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shelter</title>
</head>

<body>
    <!-- header -->
    <header class="header">
        <div class="container">
            <div class="header__top">
                <div class="header__logo">
                    <img src="assets/images/logo.svg" alt="" class="header__img">
                </div>
                <nav class="nav">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="#" class="nav___link">About the shelter</a>
                        </li>
                        <li class="nav__item">
                            <a href="#" class="nav___link">Our pets</a>
                        </li>
                        <li class="nav__item">
                            <a href="#" class="nav___link">Help the shelter</a>
                        </li>
                        <li class="nav__item">
                            <a href="#" class="nav___link">Contacts</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="header__bottom">
                <div class="header__content">
                    <h1 class="header__title h1">Not only people need a house</h1>
                    <p class="header__text text">We offer to give a chance to a little and nice puppy with an extremely
                        wide and open heart. He or she will love you more than anybody else in the world, you will see!
                    </p>
                    <a href="#" class="btn header__btn">Make a friend</a>
                </div>
                <div class="header__intro-img">
                    <img src="assets/images/maindog.png" alt="" class="intro__img">
                </div>
            </div>
        </div>
    </header>
    <!-- ./header -->

    <!-- main -->
    <main class="main">
        <!-- about -->
        <section class="about">
            <div class="about__inner">
                <div class="about__img">
                    <img src="assets/images/about-dog.jpg" alt="" class="about__img">
                </div>
                <div class="about__content">
                    <h2 class="about__title h2">About the shelter “Cozy House”</h2>
                    <p class="about__text-top text">Currently we have 121 dogs and 342 cats on our hands and statistics
                        show that only 20% of them will find a family. The others will continue to live with us and will
                        be waiting for a lucky chance to become dearly loved.</p>
                    <p class="about__text-bottom text">We feed our wards with the best food and make sure that they do
                        not get sick, feel comfortable (including psychologically) and well. We are supported by 87
                        volunteers and 28 employees of various skill levels. About 12% of the animals are taken by the
                        shelter staff. Taking care of the animals, they become attached to the pets and would hardly
                        ever leave them alone.</p>
                </div>
            </div>
        </section>
        <!-- ./about -->

        <!-- pets -->
        <section class="pets">
            <div class="container">
                <h2 class="pets__title h2">Our friends who
                    are looking for a house</h2>
                <ul class="pets__slider">
                    <li class="pets__slider-item">
                        <img src="assets/images/slider-item-1.jpg" alt="" class="slider__img">
                        <p class="slider__pet-name">Katrine</p>
                        <a class="slider__item-button">Learn more</a>
                    </li>
                    <li class="pets__slider-item">
                        <img src="assets/images/slider-item-2.jpg" alt="" class="slider__img">
                        <p class="slider__pet-name">Jennifer</p>
                        <a class="slider__item-button">Learn more</a>
                    </li>
                    <li class="pets__slider-item">
                        <img src="assets/images/slider-item-3.jpg" alt="" class="slider__img">
                        <p class="slider__pet-name">Woody</p>
                        <a class="slider__item-button">Learn more</a>
                    </li>
                    <li class="pets__slider-item">
                        <img src="assets/images/slider-item-4.jpg" alt="" class="slider__img">
                        <p class="slider__pet-name">Sophia</p>
                        <a class="slider__item-button">Learn more</a>
                    </li>
                    <li class="pets__slider-item">
                        <img src="assets/images/slider-item-5.jpg" alt="" class="slider__img">
                        <p class="slider__pet-name">Timmy</p>
                        <a class="slider__item-button">Learn more</a>
                    </li>
                    <li class="pets__slider-item">
                        <img src="assets/images/slider-item-6.jpg" alt="" class="slider__img">
                        <p class="slider__pet-name">Charly</p>
                        <a class="slider__item-button">Learn more</a>
                    </li>
                    <li class="pets__slider-item">
                        <img src="assets/images/slider-item-7.jpg" alt="" class="slider__img">
                        <p class="slider__pet-name">Scarlett</p>
                        <a class="slider__item-button">Learn more</a>
                    </li>
                    <li class="pets__slider-item">
                        <img src="assets/images/slider-item-8.jpg" alt="" class="slider__img">
                        <p class="slider__pet-name">Freddie</p>
                        <a class="slider__item-button">Learn more</a>
                    </li>
                    <a href="#" class="slider__btn-dblLeft"></a>
                    <a href="#" class="slider__btn-left"></a>
                    <a href="#" class="slider__btn-right"></a>
                    <a href="#" class="slider__btn-dblRight"></a>
                </ul>
            </div>
        </section>
        <!-- ./pets -->

        <!-- help -->
        <section class="help">
            <div class="help__inner wrapper">
                <h2 class="help__title h2">How you can help
                    our shelter</h2>
                <ul class="help__kinds">
                    <li class="help__kinds-item">
                        <img src="./assets/images/help-1.jpg" alt="" class="help__kinds-img">
                        <p class="help__name">Pet food</p>
                    </li>
                    <li class="help__kinds-item">
                        <img src="./assets/images/help-2.jpg" alt="" class="help__kinds-img">
                        <p class="help__name">Transportation</p>
                    </li>
                    <li class="help__kinds-item">
                        <img src="./assets/images/help-3.jpg" alt="" class="help__kinds-img">
                        <p class="help__name">Toys</p>
                    </li>
                    <li class="help__kinds-item">
                        <img src="./assets/images/help-4.jpg" alt="" class="help__kinds-img">
                        <p class="help__name">Bowls and cups</p>
                    </li>
                    <li class="help__kinds-item">
                        <img src="./assets/images/help-5.jpg" alt="" class="help__kinds-img">
                        <p class="help__name">Shampoos</p>
                    </li>
                    <li class="help__kinds-item">
                        <img src="./assets/images/help-6.jpg" alt="" class="help__kinds-img">
                        <p class="help__name">Vitamins</p>
                    </li>
                    <li class="help__kinds-item">
                        <img src="./assets/images/help-7.jpg" alt="" class="help__kinds-img">
                        <p class="help__name">Medicines</p>
                    </li>
                    <li class="help__kinds-item">
                        <img src="./assets/images/help-8.jpg" alt="" class="help__kinds-img">
                        <p class="help__name">Collars / leashes</p>
                    </li>
                    <li class="help__kinds-item">
                        <img src="./assets/images/help-9.jpg" alt="" class="help__kinds-img">
                        <p class="help__name">Sleeping areas</p>
                    </li>
                </ul>
            </div>
        </section>
        <!-- ./help -->

        <!-- dontaion -->
        <section class="donation">
            <div class="donation__inner">
                <img src="assets/images/donat.jpg" alt="" class="donation__img">
            </div>
            <div class="donation__content">
                <h2 class="donation__title h2">You can also make a donation</h2>
                <span class="donation__span">Name of the bank / Type of bank account</span>
                <div class="donation__card">
                    <div class="donation__card-number">8380 2880 8028 8791 7435</div>
                </div>
                <p class="donation__text text">Legal information and lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas a ipsum at libero sagittis dignissim sed ac diam. Praesent ultrices maximus tortor et vulputate. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
            </div>
        </section>
        <!-- ./dontaion -->
    </main>
    <!-- ./main -->

    <!-- footer -->
    <footer class="footer">
        <div class="footer__inner">
            <div class="footer__item">
                <h2 class="footer__title h2">For questions and suggestions</h2>
                <p class="email">email@shelter.com</p>
                <p class="number">+13 674 567 75 54</p>
            </div>
            <div class="footer__item">
                <h2 class="footer__title h2">We are waiting for your visit</h2>
                <p class="location-1">1 Central Street, Boston (entrance from the store)</p>
                <p class="location-2">18 South Park, London</p>
            </div>
            <div class="footer__img">
                <img src="assets/images/footer-img.jpg" alt="" class="footer__img-dog">
            </div>
        </div>
    </footer>
    <!-- ./footer -->
</body>

</html>